name: Lint Charts

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Lint Base Service
        uses: docker://alpine/helm:latest
        with: 
          entrypoint: helm
          args: lint charts/base-service
      - name: Lint EventStore
        uses: docker://alpine/helm:latest
        with:
          entrypoint: helm
          args: lint charts/eventstore
